go 1.20

use (
	./modules/native/libs/golang
	./modules/native/services/actor/user
	./modules/native/services/iam
	./modules/native/services/keyvaluestorage
	./modules/native/services/namespace
	./modules/native/testing
	./modules/system/libs/golang
	./modules/system/services/vault
	./modules/system/testing
	./modules/tools/libs/sdk/golang
	./modules/tools/services/rest
	./modules/tools/services/sdk
	./modules/tools/testing
	./modules/crm/libs/golang
	./modules/crm/services/core
)
