$primary   : #fff;
$secondary : #e3c22c;
$accent    : #9C27B0;

$dark      : #4f6d7a;
$dark-page : #333333;

$positive  : #09bc8a;
$negative  : #dd6e42;
$info      : #429ea6;
$warning   : #e3b505;


/* --- CRM --- */

$crm-background: #fff;
$crm-background-panel: #f5f5f5;

$crm-primary   : #fff;
$crm-secondary : #2c91e3;
$crm-accent    : #9C27B0;

$crm-dark      : #4f6d7a;
$crm-dark-page : #333333;


/* --- CRM (end) ---  */