$primary   : #eff1f3;
$secondary : #e3c22c;
$accent    : #9C27B0;

$dark      : #4f6d7a;
$dark-page : #333333;

$positive  : #09bc8a;
$negative  : #dd6e42;
$info      : #429ea6;
$warning   : #e3b505;
